
body {
    background-color: white;
    background-image: url("/images/backgroundProfessional.png");
    background-repeat:repeat;
}

#wrapper {
    background-color:white;
    width: 900px;
    margin: auto;
    border: 3px solid darkgreen;
    border-radius: 10px;
}

header{
    background-color:  darkgreen;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

header h1
{
font-size: 2em;
display: inline;
float: right;
color: #aecbbc;
margin-right: 20px;
font-size: 2em;
}

header{
background-image: url("../images/GreenBackground.png");
background-position: 0 -50px
}


nav {
    width: 100%;
    background-color: darkgreen;
    border: 10px solid black;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}

nav a{
    padding: 0 30px;
    font-size: 1.5em;
    color: #aecbbc;
    text-decoration:none;
    display:flex;
    align-items: center;
}

nav a:hover{
background-color: green;
text-shadow:4px 2px 2px black
}

footer form {
    background-color: white;
    width: 150px;
    height: 250px;
    padding: 10px;
    border: 3px solid;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-radius: 10px;
}

section{
    border:3px solid darkgreen;
    background: #aecbbc;
    width:28%;
    float: left;
    padding: 0 20px;
    box-sizing:border-box;
    margin: 14px 20px;
}

section img{
    width:200px
}

footer ul{
    clear: both;
}

table.blueTable {
    table.blueTable{
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table.blueTable td, table.blueTable th {
        border: 1px solid #AAAAAA;
        padding: 3px 2px;
      }
    table.blueTable tbody td {
        font-size: 13px;
      }
    table.blueTable tr:nth-child(even) {
        background: #ABCEBC;
      }
    table.blueTable td:nth-child(even) {
        background: #D0E4F5;
      }
    table.blueTable thead {
        background: #033507;
        background: -moz-linear-gradient(top, #426745 0%, #1c491f 66%, #033507 100%);
        background: -webkit-linear-gradient(top, #426745 0%, #1c491f 66%, #033507 100%);
        background: linear-gradient(to bottom, #426745 0%, #1c491f 66%, #033507 100%);
        border-bottom: 2px solid #FFFFFF;
      }
    table.blueTable thead th {
        font-size: 17px;
        font-weight: bold;
        color: #126D00;
        border-left: 3px solid #D0E4F5;
      }
    table.blueTable thead th:first-child {
        border-left: none;
      }
}
